.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  text-align: center;
  color: white;
  background-color: #282c34;
}


.Container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 20% auto;
  min-height: 100vh;
  width: 100vw;
}

.Content {
  padding: 10px;
}

/* 
.Buttons-container button {
  width: 200px;
  background-color: transparent;
  border-radius: 20px;
  color: white;
  font-size: large;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;
  cursor: pointer;
}
.Buttons-container .success:hover {
  color: rgb(31, 192, 36);
  border-color: rgb(31, 192, 36);
}
.Buttons-container .error:hover {
  color: #f11c1c;
  border-color: #f11c1c;
}

.Buttons-container button:focus {
  outline: none;
} */